# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [3]:
# Integer variable
num = 25
print(num, "type", type(num))

25 type <class 'int'>

In [ ]:
num= 3.14
print(num, "type", type(num))

In [6]:
s = "Hello, World!"
print(s, type(s))

Hello, World! <class 'str'>

In [7]:
s = True
print(s, type(s))

True <class 'bool'>

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [8]:
person_name = "suraj ojha" 
print("Person's Name:", person_name)

Person's Name: John Doe

In [ ]:
person_age = 24
print("Person's Age:", person_age)

In [17]:
student = True
print("student:", student)

student: False

In [16]:
person_hobbies = ["Reading", "Hiking", "Cooking"]
print("Person's Hobbies:", person_hobbies)

Person's Hobbies: ['Reading', 'Hiking', 'Cooking']

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [18]:
person_name = "John Doe"
print("Data type of person_name:", type(person_name))

Data type of person_name: <class 'str'>

In [19]:
person_age = 30
print("Data type of person_age:", type(person_age))

Data type of person_age: <class 'int'>

In [20]:
is_employed = True
print("Data type of is_employed:", type(is_employed))

Data type of is_employed: <class 'bool'>

In [21]:
person_hobbies = ["Reading", "Hiking", "Cooking"]
print("Data type of person_hobbies:", type(person_hobbies))

Data type of person_hobbies: <class 'list'>

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [2]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [22]:
a=2
b=4
sum=a+b
print(sum)

6

In [24]:
a=4
b=2
sub=a-b
print(sub)

2

In [25]:
a=4
b=2
mul=a*b
print(mul)

8

In [26]:
a=4
b=2
div=a/b
print(div)

2.0

## Example: Lists

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [4]:
fruits[0]

'orange'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [7]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [8]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [9]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [36]:
friends = ["Rohit", "Nikhil", "Ajay", "Bunty", "Sushant"]
print(f"Names: {friends[0]}, {friends[1]}, {friends[-1]}")

Names: Rohit, Nikhil, Sushant

__Exercise 3 b)__ Print your list of names using different ranges

In [40]:
friends = ["Rohit", "Nikhil", "Ajay", "Bunty", "Sushant"]
print("names:", friends)
print("First three names:", friends[0:3])
print("Last three names:", friends[2:])
print("Every second name:", friends[::2])

names: ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant']
First three names: ['Rohit', 'Nikhil', 'Ajay']
Last three names: ['Ajay', 'Bunty', 'Sushant']
Every second name: ['Rohit', 'Ajay', 'Sushant']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [5]:
friends= ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant']
names = len(friends)
print("Number of names:", names)

Number of names: 5

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [6]:
friends= ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant']
new_name= "komal"
friends.append(new_name)
print("Updated list of names:", friends)

Updated list of names: ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant', 'komal']

__Exercise 4 c)__ Print the list. Does it look as expected?

In [8]:
Updated list of names: ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant', 'komal']

expected list: ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant', 'Komal']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [9]:
friends= ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant','Komal']
new_name= "Mini"
friends.insert(2,new_name)
print("Updated list of names:", friends)

Updated list of names: ['Rohit', 'Nikhil', 'Mini', 'Ajay', 'Bunty', 'Sushant', 'Komal']

__Exercise 4 e)__ Print the list. Does it look as expected?

In [20]:
print("Updated list of names:", friends)

SyntaxError: invalid syntax (4284744418.py, line 1)

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [19]:
friends= ['Rohit', 'Nikhil', 'Mini', 'Ajay', 'Bunty', 'Sushant', 'Komal']
name_to_remove = "Mini"
friends.remove(name_to_remove)
print("Updated list of names:", friends)

Updated list of names: ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant', 'Komal']

__Exercise 4 g)__ Print the list. Does it look as expected?

In [20]:
print("Updated list of names:", friends)

Updated list of names: ['Rohit', 'Nikhil', 'Ajay', 'Bunty', 'Sushant', 'Komal']

# Example: For loops

In [10]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [11]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [30]:
friends= ['Rohit', 'Nikhil', 'Mini', 'Ajay', 'Bunty', 'Sushant', 'Komal']
for name in friends:
    print(name)

Rohit
Nikhil
Mini
Ajay
Bunty
Sushant
Komal

__Exercise 5 b)__ Add a small change to each name in your list

In [31]:
friends= ['Rohit', 'Nikhil', 'Mini', 'Ajay', 'Bunty', 'Sushant', 'Komal']
names_on_single_line = ", ".join(friends)
print("Names on a single line:", names_on_single_line)

Names on a single line: Rohit, Nikhil, Mini, Ajay, Bunty, Sushant, Komal

# Example: Dictionaries

In [12]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [13]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [4]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

capital_denmark = countries["denmark"]
capital_norway = countries["norway"]

print("Capital of Denmark:", capital_denmark)
print("Capital of Norway:", capital_norway)

Capital of Denmark: copenhagen
Capital of Norway: oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [6]:
countries = {"sweden": "stockholm", "denmark": "copenhagen", "norway": "oslo"}

countries["finland"] = "helsinki"


print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'finland': 'helsinki'}

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [ ]:
print(countries)

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [7]:
countries = {"sweden": "stockholm", "denmark": "copenhagen", "norway": "oslo"}

countries["sweden"] = "malmo"

print(countries)

{'sweden': 'malmo', 'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

print(countries)

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [8]:
countries = {"sweden": "stockholm", "denmark": "copenhagen", "norway": "oslo"}

del countries["sweden"]

print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [17]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [14]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [ ]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [ ]:
add_two_numbers(1,2)

In [ ]:
add_two_numbers(5,20)

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [10]:
def difference(num1, num2):
   
    return num1 - num2
result = difference(10, 5)
print("The difference is:", result)

The difference is: 5

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [13]:
result1 = difference(9, 5)
print("The difference is:", result1)

The difference is: 4

__Exercise 7 c)__ Create a function that can multiply two numbers

In [14]:
def multiply_numbers(num1, num2):
    
    return num1 * num2

result = multiply_numbers(5, 7)
print("The result of multiplication is:", result)

The result of multiplication is: 35

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [15]:
result2 = multiply_numbers(-3, 4)
print("The result of multiplication is:", result3)

The result of multiplication is: -12

__Exercise 7 e)__ Create a function that can divide two numbers

In [16]:
def divide_numbers(num1, num2):
    
    if num2 == 0:
        return "Cannot divide by zero"
    return num1 / num2
result = divide_numbers(10, 2)
print("The result of division is:", result)

The result of division is: 5.0

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [ ]:
result2 = divide_numbers(5, 0)
print("The result of division is:", result2)

In [ ]:
result3 = divide_numbers(-8, 4)
print("The result of division is:", result3)

In [ ]:
result3 = divide_numbers(20, 4)
print("The result of division is:", result3)